<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:comment>
<f:debug>{_all}</f:debug>
    </f:comment>
 <li class="botolocation-item tile small-12 medium-6"
     id="botolocations-{locationItem.uid}"
     data-location-country-uid="{locationItem.country.uid}"
     data-location-country-iso="{locationItem.country.isoCodeA2}"
     data-location-latitude="{locationItem.latitude}"
     data-location-longitude="{locationItem.longitude}"
     data-category-uids="{locationItem.categoryUids}"
     data-attribute1-uids="{locationItem.attribute1Uids}"
 >
<div class="tile-inner bg-light-gray">

    <p class="item-title">{locationItem.title -> f:format.nl2br()}</p>
    <p class="item-company">{locationItem.company -> f:format.nl2br()}</p>
    <p class="item-address">{locationItem.address -> f:format.nl2br()}</p>
    <f:if condition="{locationItem.zip}">
        <p class="item-zip-city">{locationItem.zip} {locationItem.city}</p>
    </f:if>
     <p class="item-country">{locationItem.country.shortNameEn}</p>
    <f:if condition="{locationItem.phoneprimary}">
        <p class="item-phoneprimary"><f:translate
                key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:locationitem.phoneprimary"/>
            {locationItem.phoneprimary}</p>
    </f:if>
    <f:if condition="{locationItem.phonemobile}">
        <p class="item-phonemobile"><f:translate
                key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:locationitem.mobile"/>
            {locationItem.phonemobile}</p>
    </f:if>
    <f:if condition="{locationItem.fax}">
        <p class="item-fax"><f:translate
                key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:locationitem.fax"/>
            {locationItem.fax}</p>
    </f:if>
    <p class="item-email"><f:link.email email="{locationItem.email}" title="{locationItem.email}">{locationItem.email}</f:link.email></p>

    <f:if condition="{settings.displayRouteLink}">
        <p class="item-directions">
            <a href="https://www.google.com/maps/dir//{locationItem.latitude},{locationItem.longitude}/@{locationItem.latitude},{locationItem.longitude}"><f:translate
                    key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:locationitem.directions"/></a></p>
    </f:if>

    <f:if condition="{settings.displayDetailLink} == '1' && {locationItem.detailpid} != ''">
        <p class="item-detaillink">
            <f:link.page pageUid="{locationItem.detailpid}"><f:translate
                    key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:locationitem.locationdetail"/></f:link.page></p>
    </f:if>

    </div>
</li>
</html>