{namespace bt=Bosshartong\BotoLocations\ViewHelpers}

<script type="text/javascript">
    window.addEventListener('load', function () {
        var config = JSON.parse('<f:format.raw><bt:format.json>{configuration}</bt:format.json></f:format.raw>');
        BotoLocationMap.MapController.boot(config);
    });
</script>