<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:if condition="{settings.map.usealternativecontainer} != '1'">
   <div id="{ids.map}" class="botolocations-map"></div>
</f:if>
<f:render partial="Map/JavascriptInit" arguments="{_all}"/>
<div class="botolocations-map-legend clearfix">

    <div class="row column botolocations-map-marker-types">
        <f:for each="{filterableCategories}" as="filterCategory">
            <div class="botolocations-map-marker-type catuid-{filterCategory.uid} float-left">{filterCategory.title}</div>
        </f:for>
    </div>

    <f:if condition="{settings.map.filter}">

    <div class="row botolocations-map-filter-row">
        <div class="column medium-6 map-filter map-filterableAttributes clearfix">
            <span class="map-filter-select-legend"><f:translate
                    key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:filteroptions.attributes"/></span>
            <f:form.select id="{ids.attributeSelector}"
                           class="filterselect attributeFilter"
                           property="attribute1"
                           options="{filterableAttributes}"
                           optionLabelField="title"
                           prependOptionValue="*"
                           prependOptionLabel="<f:translate key='LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:filteroptions.filterAll'/>"
            />
        </div>

        <div class="column medium-6 map-filter map-filterableCountries">
            <span class="map-filter-select-legend"><f:translate
            key="LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:filteroptions.countries"/></span>
            <f:form.select id="{ids.countrySelector}"
                           class="filterselect countryFilter"
                           property="categories"
                           optionValueField="isoCodeA2"
                           options="{filterableCountries}"
                           optionLabelField="shortNameEn"
                           prependOptionValue="*"
                           prependOptionLabel="<f:translate key='LLL:EXT:boto_locations/Resources/Private/Language/locallang.xlf:filteroptions.filterAll'/>"
            />
        </div>
    </div>
    </f:if>
</div>

</html>