<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:render section="Layout{settings.Layout}" arguments="{_all}" optional="true" />



<f:section name="Layout1">
<div class="row">
    <f:for each="{locations}" as="locationItem">
      <f:render partial="Location/WrapWithDiv"
                arguments="{locationItem: locationItem, settings:settings}"
                contentAs="content">
        <f:render partial="Location/LocationItem" arguments="{locationItem: locationItem, settings:settings}" />
    </f:render>
    </f:for>
</div>
</f:section>

<f:section name="Layout2">
   <ul class="row nodashlist tile-row tile-group tiles-2cols tiles-spaced">
    <f:for each="{locations}" as="locationItem">
        <f:render partial="Location/WrapWithList" arguments="{locationItem: locationItem, settings:settings}" contentAs="content">
            <f:render partial="Location/LocationItem" arguments="{locationItem: locationItem, settings:settings}" />
        </f:render>
    </f:for>
</ul>
</f:section>
</html>