<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:render partial="Map/Map" arguments="{_all}" />
<f:comment>
<f:debug>{_all}</f:debug>
</f:comment>

<div id="{ids.listContainer}" class="clearfix">
<f:if condition="{settings.map.groupListByCountry}">
    <f:then>
        <f:render section="groupByCountries" arguments="{_all}" />
    </f:then>
    <f:else>
        <f:render section="listAllLocations" arguments="{_all}" />
    </f:else>
</f:if>
</div>

<f:section name="groupByCountries">
<f:for each="{groupedLocationsByCountry}" as="countryGroup">
<div class="botolocations-countrygroup row ce-outerwrap" data-country-uid="{countryGroup.country.uid}">
    <div class="column">
    <h3>{countryGroup.country.shortNameEn}</h3>
    <ul class="nodashlist tile-row tile-group tiles-2cols tiles-spaced">
         <f:for each="{countryGroup.locations}" as="locationItem">
            <f:render partial="Location/WrapWithListMap" arguments="{locationItem: locationItem, settings:settings}"
                      contentAs="content">
                <f:render partial="Location/LocationItemMap"
                          arguments="{locationItem: locationItem, settings:settings}" />
            </f:render>
         </f:for>
     </ul>
    </div>
</div>
</f:for>
</f:section>


<f:section name="listAllLocations">
<ul class="row nodashlist tile-row tile-group tiles-2cols tiles-spaced">
    <f:for each="{locations}" as="locationItem">
        <f:render partial="Location/WrapWithListMap" arguments="{locationItem: locationItem, settings:settings}" contentAs="content">
            <f:render partial="Location/LocationItemMap" arguments="{locationItem: locationItem, settings:settings}" />
        </f:render>
    </f:for>
</ul>
</f:section>
</html>