<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">
<f:debug>{_all}</f:debug>
<ul class="row nodashlist tile-row tile-group tiles-2cols tiles-spaced">
    <f:for each="{locations}" as="locationItem">
        <f:render partial="Location/LocationItem" arguments="{locationItem: locationItem, settings:settings}" />
    </f:for>
</ul>
</html>